<template>
  <div class="row bb">
    <polls-cell
      v-for="header in headers"
      :key="header.key"
      :header="header"
      :poll="poll"
    />
  </div>
</template>

<script>
import PollsCell from '~/components/polls/PollsCell'

export default {
  name: 'PollsRow',
  props: ['poll'],
  components: {PollsCell},
  computed: {
    headers() {
      return this.$store.state.collections.polls_store.headers
    },
  },
}
</script>

<style scoped>
.row:hover {
  background: var(--color-success);
}
</style>
