<template>
  <div
    :class="class_"
    :style="style"
  >
    <template v-if="!poll">
      {{ header.title }}
    </template>
    <template
      v-else
    >
      <template
        v-if="keyType === 'date'"
      >
        {{ value | dateTime }}
      </template>
      <template
        v-else-if="keyType === 'length'"
      >
        {{ value ? value.length : 'Пусто' }}
      </template>
      <template
        v-else-if="keyType === 'actions'"
      >
        <div class="row">
          <button
            @click="remove"
          ><i class="material-icons">delete</i></button>
          <button
            @click="patch"
          ><i class="material-icons">create</i></button>
        </div>
      </template>
      <template
        v-else
      >
        {{ value }}
      </template>
    </template>
  </div>
</template>

<script>
export default {
  data: () => ({
    types: ['date', 'count', 'main'],
  }),
  name: 'PollsCell',
  props: ['header', 'poll'],
  computed: {
    value() {
      return this.poll[this.header.key]
    },
    keyType() {
      switch (this.header.key) {
        case 'createDate':
          return 'date'
        case 'actions':
          return 'actions'
        case 'conditions':
          return 'length'
      }
      return this.header.key
    },
    style() {
      return {
        width: this.header.width + '%',
        height: '40px',
        fontWeight: !this.poll ? 'bold' : '',
      }
    },
    class_() {
      return [
        'col jc-center',
        (!this.poll) ? 'ai-center ta-center ' : 'ai-start',
      ]
    },
  },
  methods: {
    remove() {
      if (!this.poll) return
      if (!this.poll._id) return
      this.$store.dispatch('collections/remove', {
        endpoint: 'polls',
        _id: this.poll._id,
      })
    },
    patch() {
      alert('Пока не работает')
    },
  },
}
</script>

<style scoped>

</style>
