<template>
  <div class="row bt bb">
    <polls-cell
      v-for="header in headers"
      :key="header.key"
      :header="header"
      :poll="null"
    />
  </div>
</template>

<script>
import PollsCell from '~/components/polls/PollsCell'

export default {
  name: 'PollsHeader',
  components: {PollsCell},
  computed: {
    headers() {
      return this.$store.state.collections.polls_store.headers
    },
  },
}
</script>

<style scoped>

</style>
