<template>
  <div>
    <PollCreate/>
  </div>
</template>

<script>
import PollCreate from '@/components/polls/poll/PollCreate'

export default {
  name: 'add',
  components: {PollCreate},

}
</script>

<style scoped>

</style>
