<template>
  <div class="col">
    <div class="row title ai-center">

      <div class="col w10 ta-center">
        <button
          class="btn"
          @click="reloadPolls"
        ><i class="material-icons">autorenew</i></button>
      </div>
      <div class="col w80">
        <h1>Список опросов</h1>
      </div>
      <div class="col w10 ta-center">
        <nuxt-link
          class="add"
          :to="'/polls/add'"
        >
          <button   class="btn"><i class="material-icons">add</i></button>
        </nuxt-link>
      </div>
    </div>
    <polls-header/>
    <polls-row
      v-for="poll in polls"
      :key="poll._id"
      :poll="poll"
    />
  </div>
</template>

<script>
import PollsHeader from '~/components/polls/PollsHeader'
import PollsRow from '~/components/polls/PollsRow'

export default {
  name: 'polls',
  components: {PollsRow, PollsHeader},
  computed: {
    polls() {
      return this.$store.state.collections.polls
    },
  },
  methods: {
    async getData() {
      await this.$store.dispatch('collections/get', {
        endpoint: 'polls',
      })
    },
    async reloadPolls() {
      await this.getData()
    },
  },
  async beforeMount() {
    await this.getData()
  },
}
</script>

<style scoped>
.title {
  margin-bottom: 20px;
}

h1 {
  padding: 0 10px;
}
.btn{
  width: 100%;
}
.add {
  color: var(--color);
  border: 1px solid var(--color-light);
  text-decoration: none;
}

.add:hover {
  color: var(--color-success);
  border: 1px solid var(--color-success);
}
</style>
