<template>
  <header class="row">
    <div class="w70">
      <div class="search row">
        <input placeholder="Поиск в системе" class="w90" type="text">
        <button
          @click="search"
        >
          <i class="material-icons">search</i>
        </button>
      </div>
      <div class="row ai-center">
        <nuxt-link class="link" :to="'/'">
          <i class="material-icons">home</i>
        </nuxt-link>
        <div
          v-for="(breadcrumb,key) in breadcrumbs"
          :key="key"
          class="row ai-center"
        >
          <i class="material-icons">arrow_right_alt</i>
          <nuxt-link
            class="link" :to="breadcrumb.to"
          >
            {{ breadcrumb.title }}
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="user-info w30 row jc-end">
      <div
        class="photo"
        :style="`background: url(${user.photoURL}); background-size: cover;`"
      >
      </div>
      <div class="col jc-center">
        <b>{{ user| shortUserName }}</b>
        {{ user.workPosition }}

      </div>
    </div>
  </header>
</template>

<script>


export default {
  name: 'LayoutHeader',
  computed: {
    user() {
      return this.$store.state.user
    },
    pages() {
      return this.$store.state.pages_store.pages
    },
    breadcrumbs() {
      if (this.routeFullPath === '/') return {}
      const array = this.routeFullPath.split('/')
      let newArray = array.map((el, i, arr) => {
        let newArray = JSON.parse(JSON.stringify(arr))
        newArray.length = i + 1
        const to = newArray.join('/')
        return {title: this.getPageText(to), to}
      })
      newArray.shift()
      return newArray
    },
    routeFullPath() {
      return this.$route.fullPath
    },
  },
  methods: {
    getPageText(to) {
      const page = this.pages.find(p => p.to === to) || {}
      return page ? page.title : ''
    },
    search() {
      alert('Пока не работает')
    },
  },
}
</script>

<style scoped>
.user-info {
  height: 70px;
}

.photo {
  margin: 0 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.link {
  color: var(--color);
  text-decoration: none;
  margin: 0 5px;
}

input {
  border: 1px solid var(--color-light);
}

button {
  background: none;
  border: 1px solid var(--color-light);
  color: var(--color-secondary)
}

input:focus,
button:focus {
  outline: none;
}

input:Hover,
button:Hover {
  color: var(--color-success);
  border: 1px solid var(--color-success);
}

.search {
  padding: 5px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  margin-bottom: 20px;
}

header {
  height: 120px;
}
</style>
