<template>
  <nav class="nav-menu jc-between col" style="height: 1300px">
    <div class="col jc-center ai-center"
    >
      <nuxt-link
        class="link w100 col jc-center ai-center ta-center"
        v-for="page in mainPages"
        :key="page.icon"
        :to="page.to"
      >
        <i class="material-icons">{{ page.icon }}</i>
        {{ page.title }}
      </nuxt-link>
    </div>
    <div class="col jc-center ai-center">
      <nuxt-link
        class="link w100 col jc-center ai-center ta-center"
        :to="helpPage.to"
      >
        <i class="material-icons">{{ helpPage.icon }}</i>
       <span class="ta-center"> {{ helpPage.title }}</span>
      </nuxt-link>
    </div>
  </nav>
</template>

<script>

export default {
  name: 'LayoutNav',
  computed: {
    pages(){
      return this.$store.getters['pages_store/navMenu']
    },
    helpPage() {
      return this.pages.find(page => page.to === '/help') || {}
    },
    mainPages() {
      return this.pages.filter(p => p.to !== '/help')
    },
  },
}
</script>

<style scoped>
i{
  margin: 10px;
  transform: scale(2);
}

.nav-menu {
  width: 130px;
  border-right: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}

.nav-menu:nth-child(n) {
  padding: 10px;
}

.link {
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px 0;
  color: var(--color);
  border: 1px solid var(--color-light);
  text-decoration: none;
}

.link:Hover {
  color: var(--color-success);
  border: 1px solid var(--color-success);
}

.nuxt-link-exact-active {
  font-weight: bold;
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
</style>
