<template>
  <div
    class="tab col ai-center jc-center ta-center  unselectable pointer"
    :class="isActive?'active':'inActive'"
    @click="toggle"
  >
    {{ tab.title }}
  </div>
</template>

<script>
export default {
  name: 'PollTab',
  props: ['tab', 'tabs'],
  computed: {
    isActive() {
      return this.tab.active
    },
  },
  methods: {
    toggle() {
      let tabsToUpdate = this.copyWithoutLinks(this.tabs)
      if (!tabsToUpdate) return
      this.$store.commit('collections/polls_store/setState', {
        endpoint: 'tabs',
        data: tabsToUpdate
          .map(tab => ({...tab, active: tab.key === this.tab.key})),
      })

    },
  },
}
</script>

<style scoped>
.tab {
  padding: 10px 0;
}

.inActive {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-light);
}

.active {
  color: var(--color);
  border-bottom: 2px solid var(--color-success);
}

.tab:hover {
  color: var(--color);
}

</style>
