<template>
  <div class="col">
    <div class="row">
      <poll-tab
        v-for="tab in tabs"
        :key="tab.key"
        :style="tabStyle"
        :tab="tab"
        :tabs="tabs"
      />
    </div>
    <poll-content/>
  </div>
</template>

<script>
import PollTab from '@/components/polls/poll/PollTab'
import PollContent from '@/components/polls/poll/content/PollContent'

export default {
  name: 'PollCreate',
  components: {PollContent, PollTab},
  data: () => ({
    tabsMenuEmptyPartPercent: 10,
  }),
  computed: {
    tabs() {
      return this.$store.state.collections.polls_store.tabs || []
    },
    tabStyle() {
      return {
        width: (100 - this.tabsMenuEmptyPartPercent) / (this.tabs.length) + '%',
      }
    },
  },
}
</script>

<style scoped>

</style>
