<template>
  <div class="col content">
    <h3 class="title">{{ activeTab.title }}</h3>
    <div>
      <poll-content-conditions
        v-if="activeTab.key === 'conditions'"
      />
      <poll-content-logic
        v-else-if="activeTab.key === 'logic'"
      />
      <poll-content-parameters
        v-else-if="activeTab.key === 'parameters'"
      />
      <poll-content-questions
        v-else-if="activeTab.key === 'questions'"
      />
      <poll-content-respondents
        v-else-if="activeTab.key === 'respondents'"
      />
    </div>
    <div class="row actions jc-between">
      <button
        @click="test"
        class="btn test pointer"
      >Протестировать опрос
      </button>
      <button
        @click="add"
        class="btn ok pointer row jc-center ai-center"
      >
        <div>Далее</div>
        <i class="material-icons">arrow_right_alt</i>
      </button>
    </div>
  </div>
</template>

<script>
import PollContentConditions
  from '@/components/polls/poll/content/PollContentConditions'
import PollContentLogic from '@/components/polls/poll/content/PollContentLogic'
import PollContentParameters
  from '@/components/polls/poll/content/PollContentParameters'
import PollContentQuestions
  from '@/components/polls/poll/content/PollContentQuestions'
import PollContentRespondents
  from '@/components/polls/poll/content/PollContentRespondents'
import polls_tabs from '@/mixins/polls/polls_tabs'

export default {
  name: 'PollContent',
  mixins: [polls_tabs],
  components: {
    PollContentRespondents,
    PollContentQuestions,
    PollContentParameters, PollContentLogic, PollContentConditions,
  },
  computed: {
    pollRespondentConditions() {
      return this.$store.state.collections.polls_store.pollRespondentConditions
    },
  },
  methods: {
    test() {
      alert('Пока не работает')
    },
    async add() {
      await this.$store.dispatch('collections/post', {
        endpoint: 'polls',
        element: {
          conditions: this.pollRespondentConditions,
        },
      })
      await this.$router.push('/polls')
    },
    beforeMount() {

    },
  },
}
</script>

<style scoped>

.actions {
  background: var(--color-secondary);
  padding: 20px;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.test:Hover,
.ok {
  color: var(--color-light);
  background: var(--color-success);
}

.ok:Hover,
.test {
  background: var(--color-light);
  color: var(--color-success);
}

.content {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  border-top: 1px solid var(--color-primary);
  padding: 20px 20px 20px 5px;
  color: var(--color-secondary-darker)
}
</style>
