<template>
  <div
    class="col"
  >
    PollContentConditions

  </div>

</template>

<script>
import PollContentCondition
  from '@/components/polls/poll/content/PollContentRespondentCondition'

export default {
  name: 'PollContentConditions',

}
</script>

<style scoped>
</style>
