<template>
  <div>
    <div class="row type w20 ai-center">
      <div
        v-if="conditionTypeIndex!==0"
        class="or"
        :style="`background: ${pollRespondentCondition.typeBackgroundColor}`"
      >
        или
      </div>
      {{ conditionTypeTitle | capitalizeFirstLetter }}
      {{ conditionTypeIndex + 1 }}
    </div>
    <select
      v-model="selectedType"
      class="select w70"
      @change="updatePollRespondentCondition"
    >
      <option
        v-for="type_ in typeList"
        :key="type_._id"
        :value="type_"
      >
        {{ type_ ? type_.title : '' }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'PollContentRespondentConditionSelect',
  data: () => ({
    selectedType: null,
  }),
  props: [
    'codeId',
    'typeList',
    'conditionTypeIndex',
    'pollRespondentCondition',
    'conditionIndex',
    'conditionTypeTitle',
    'conditionType',
  ],
  methods: {
    updatePollRespondentCondition() {
      if (!this.pollRespondentCondition) return
      let pollRespondentConditionToUpdate = this.copyWithoutLinks(
        this.pollRespondentCondition,
      )
      pollRespondentConditionToUpdate[this.codeId][this.conditionTypeIndex] =
        this.copyWithoutLinks(this.selectedType)
      this.$store.commit(
        'collections/polls_store/updatePollRespondentCondition',
        {
          index: this.conditionIndex, pollRespondentConditionToUpdate,
        })
    },
  },
  beforeMount() {
    if (this.conditionType) {
      this.selectedType = this.copyWithoutLinks(this.conditionType)
    }
  },
  beforeUpdate() {
    if (this.conditionType) {
      this.selectedType = this.copyWithoutLinks(this.conditionType)
    }
  },
}
</script>

<style scoped>
.or {
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
}

.type {
  margin: 10px 0;
}
</style>
