<template>
  <div class="row ai-center">
    <label>
      от
      <input
        type="number"
        v-model="localRange.from"
        @input="updateRange"
        class="input"
      >
    </label>
    <label style="margin-left: 10px">
      до
      <input
        type="number"
        v-model="localRange.to"
        @input="updateRange"
        class="input"
      >
    </label>
  </div>
</template>

<script>
export default {
  name: 'PollContentRespondentConditionRange',
  data: () => ({
    localRange: {
      from: null,
      to: null,
    },
  }),
  props: ['range', 'rangeIndex', 'conditionIndex', 'pollRespondentCondition'],
  methods: {
    updateRange() {
      if (!this.pollRespondentCondition) return
      let pollRespondentConditionToUpdate = this.copyWithoutLinks(
        this.pollRespondentCondition,
      )
      pollRespondentConditionToUpdate.respondentAge[this.rangeIndex] =
        this.copyWithoutLinks(this.localRange)
      this.$store.commit(
        'collections/polls_store/updatePollRespondentCondition',
        {
          index: this.conditionIndex, pollRespondentConditionToUpdate,
        })
    },
  },
  beforeMount() {
    this.localRange = this.copyWithoutLinks(this.range)
  },
}
</script>

<style scoped>

</style>
