<template>
  <div class="col">
    <poll-content-respondent-condition-select
      v-for="(conditionType,conditionTypeIndex) of conditionTypesList"
      :key="conditionTypeIndex"
      class="row ai-center"
      :typeList="typeList"
      :conditionTypeIndex="conditionTypeIndex"
      :pollRespondentCondition="pollRespondentCondition"
      :conditionIndex="conditionIndex"
      :conditionTypeTitle="conditionTypeTitle"
      :codeId="codeId"
      :conditionType="conditionType"
    />
  </div>
</template>

<script>
import PollContentRespondentConditionSelect
  from '@/components/polls/poll/content/PollContentRespondentConditionSelect'

export default {
  name: 'PollContentRespondentConditionsSelect',
  components: {PollContentRespondentConditionSelect},
  props: ['pollRespondentCondition', 'selectedCondition', 'conditionIndex'],

  computed: {
    pollRespondentConditions() {
      return this.$store.state.collections.pollRespondentConditions
    },
    pollRespondentConditionTemplate() {
      return this.pollRespondentConditions
        .find((condition) => condition.codeId === this.codeId) || {}
    },
    codeId() {
      return this.selectedCondition.codeId
    },
    typeList() {
      return this.pollRespondentConditionTemplate.typeList || []
    },
    conditionTypeTitle() {
      return this.pollRespondentConditionTemplate.conditionTypeTitle || ''
    },
    conditionTypesList() {
      return this.pollRespondentCondition[this.codeId]
    },
  },
}
</script>

<style scoped>

</style>
