<template>
  <div
    class="condition col"
    :style="conditionStyle"
  >
    <div
      v-if="index!==0"
      :style="`background:${pollRespondentCondition.typeBackgroundColor}`"
      class="and col ta-center jc-center ai-center"
    >
      И
    </div>
    <div class="row condition-title">
      <div
        class="col w20 jc-center"
        :style="`color:${pollRespondentCondition.color}`"
      >
        <div><b> Условие {{ index + 1 }}</b></div>
      </div>
      <div class="col w80">
        <select
          class="select"
          v-model="selectedCondition"
          @change="updateSelectedCondition"
        >
          <option
            v-for="pollRespondentCondition in pollRespondentConditions"
            :key="pollRespondentCondition._id"
            :value="pollRespondentCondition"
          >
            {{ pollRespondentCondition.title }}
          </option>
        </select>
      </div>
    </div>
    <div
      v-if="selectedCondition"
      class="col"
    >
      <div
        v-if="selectedCondition.codeId === 'respondentAge'"
        class="col"
      >
        <div
          v-for="(range,rangeIndex) of respondentAge"
          :key="rangeIndex"
          class="row"
        >
          <div class="row type w20 ai-center">
            <div
              v-if="rangeIndex!==0"
              class="or"
              :style="`background: ${pollRespondentCondition.typeBackgroundColor}`"
            >
              или
            </div>
            Диапазон {{ rangeIndex + 1 }}
          </div>
          <poll-content-respondent-condition-range
            :range="range"
            :rangeIndex="rangeIndex"
            :conditionIndex="index"
            :pollRespondentCondition="pollRespondentCondition"
            class="w80"
          />
        </div>
      </div>
      <div
        v-else
        class="col"
      >
        <poll-content-respondent-conditions-select
          :pollRespondentCondition="pollRespondentCondition"
          :selectedCondition="selectedCondition"
          :conditionIndex="index"
        />
      </div>
    </div>
    <div class="row jc-end actions">
      <div class="row w80 jc-between">
        <button
          v-if="selectedCondition"
          @click="add"
          class="btn add row ai-center pointer unselectable"
        >
          <i class="material-icons">add</i>
          Добавить {{ selectedCondition.conditionTypeTitle }}
        </button>
        <button
          @click="deleteCondition"
          class="btn delete row ai-center  pointer unselectable"
        >
          <i class="material-icons">delete</i>
          Удалить условие
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import PollContentRespondentConditionRange
  from '@/components/polls/poll/content/PollContentRespondentConditionRange'
import PollContentRespondentConditionsSelect
  from '@/components/polls/poll/content/PollContentRespondentConditionsSelect'

export default {
  name: 'PollContentCondition',
  components: {
    PollContentRespondentConditionsSelect,
    PollContentRespondentConditionRange,
  },
  props: ['pollRespondentCondition', 'index'],
  data: () => ({
    selectedCondition: null,
    types: [],
  }),
  computed: {
    respondentAge() {
      return this.pollRespondentCondition.respondentAge || []
    },
    pollRespondentConditions() {
      return this.$store.state.collections.pollRespondentConditions
    },
    conditionStyle() {
      let {typeBackgroundColor, backgroundColor} = this.pollRespondentCondition
      return {
        backgroundColor,
        borderTop: `1px solid ${typeBackgroundColor}`,
      }
    },
  },
  methods: {
    typeList(endpoint) {
      return this.pollRespondentConditions
        .find((condition) => condition.codeId === endpoint)
        .typeList || []
    },
    add() {
      switch (this.selectedCondition.codeId) {
        case 'respondentAge':
          this.addRange()
          break
        case 'loyaltyCardType':
          this.addType('loyaltyCardType')
          break
        case 'loyaltyCardStatus':
          this.addType('loyaltyCardStatus')
          break
      }
    },
    addType(endpoint) {
      let pollRespondentConditionToUpdate = this.copyWithoutLinks(
        this.pollRespondentCondition,
      )
      if (!pollRespondentConditionToUpdate[endpoint]) {
        pollRespondentConditionToUpdate[endpoint] = []
      }
      pollRespondentConditionToUpdate[endpoint].push(null)
      this.updatePollRespondentCondition(pollRespondentConditionToUpdate)
    },
    addRange() {
      let pollRespondentConditionToUpdate = this.copyWithoutLinks(
        this.pollRespondentCondition,
      )
      if (!pollRespondentConditionToUpdate.respondentAge) {
        pollRespondentConditionToUpdate.respondentAge = []
      }
      pollRespondentConditionToUpdate.respondentAge.push({from: null, to: null})
      this.updatePollRespondentCondition(pollRespondentConditionToUpdate)

    },
    updatePollRespondentCondition(pollRespondentConditionToUpdate) {
      this.$store.commit(
        'collections/polls_store/updatePollRespondentCondition',
        {
          index: this.index,
          pollRespondentConditionToUpdate: {
            ...pollRespondentConditionToUpdate,
            selectedCondition: this.selectedCondition,
          },
        },
      )
    },
    deleteCondition() {
      this.$store.commit(
        'collections/polls_store/deletePollRespondentCondition',
        {index: this.index})
    },
    updateSelectedCondition() {
      let {color, backgroundColor, typeBackgroundColor} = this.copyWithoutLinks(
        this.pollRespondentCondition,
      )
      this.$store.commit(
        'collections/polls_store/updatePollRespondentCondition',
        {
          index: this.index,
          pollRespondentConditionToUpdate: {
            color,
            backgroundColor,
            typeBackgroundColor,
          },
        },
      )
    },
  },
  beforeMount() {
    if (this.pollRespondentCondition.selectedCondition) {
      this.selectedCondition = this.pollRespondentCondition.selectedCondition
    }
  },
  beforeUpdate() {
    if (this.pollRespondentCondition.selectedCondition) {
      this.selectedCondition = this.pollRespondentCondition.selectedCondition
    }
  },
}
</script>

<style scoped>
.or {
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
}

.actions {
  margin: 30px 0 10px;
}

.btn {
  padding: 0 5px;
  background: var(--color-light);
  border-radius: 5px;
}

.type {
  margin: 10px 0;
}

.add {
  color: var(--color-success);
  border: 2px solid var(--color-success)
}

.delete {
  color: var(--color-error);
  border: 2px solid var(--color-error)
}

.delete:Hover,
.add:Hover {
  color: var(--color-light);
}

.delete:active,
.add:active {
  color: var(--color);
}

.delete:Hover {
  background: var(--color-error);
  border: 2px solid var(--color-error)
}

.add:Hover {
  background: var(--color-success);
  border: 2px solid var(--color-success)
}

.condition {
  padding: 20px;
  position: relative;
}

.condition-title {
  margin-bottom: 20px;

}

.and {
  height: 40px;
  width: 40px;
  top: -20px;
  left: 40px;
  border-radius: 5px;
  position: absolute;
  background: aqua;
}
</style>
