<template>
  <div
    class="col"
  >
    <poll-content-condition
      v-for="(pollRespondentCondition,key) in pollRespondentConditions"
      :key="key"
      :pollRespondentCondition="pollRespondentCondition"
      :index="key"
      @addRange="addRange"
    />
    <div
      class="col add jc-center ta-center ai-center pointer unselectable"
      @click="addCondition"
    >
      <div class="row w60 icon jc-center"><i class="material-icons">add</i>
      </div>
      <div class="row w60 text">
        Нажмите, чтобы добавить новое условие выборки.
        Все условия связываются между собой логическим "И"
      </div>
    </div>
  </div>
</template>

<script>
import PollContentCondition
  from '@/components/polls/poll/content/PollContentRespondentCondition'

export default {
  name: 'PollContentRespondents',
  components: {PollContentCondition},
  data: () => ({}),
  computed: {
    pollRespondentConditions() {
      return this.$store.state.collections.polls_store.pollRespondentConditions
    },
  },
  methods: {
    addRange({index, range = {from: null, end: null}}) {

    },
    addCondition() {
      this.$store.commit(
        'collections/polls_store/addPollRespondentCondition',
      )
    },
  },
}
</script>

<style scoped>
.add {
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  color: var(--color-primary)
}

.add:Hover {
  border: 2px solid var(--color-success);
  color: var(--color-success);
}
</style>
