:root {
  --color: #000000;
  --color-light: #ffffff;
  --color-primary: #56fa6d;
  --color-secondary: #f5f5f5;
  --color-secondary-darker: #9d9d9d;
  --color-error: #862b2b;
  --color-success: #33ab33
}
