@import 'flex';
@import 'grid';
@import 'proportions';
@import 'colors';

* {
  margin: 0;
  padding: 0;
}

.ta-center {
  text-align: center
}

.ta-start {
  text-align: start
}

.ta-end {
  text-align: end
}

.br {
  border-right: 1px solid var(--color-secondary);
}

.bl {
  border-left: 1px solid var(--color-secondary);
}

.bb {
  border-bottom: 1px solid var(--color-secondary);
}

.bt {
  border-top: 1px solid var(--color-secondary);
}

.pointer:hover {
  cursor: pointer
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         not supported by any browser */
}

.input,
.btn,
.select,
.select:focus,
.input:focus,
.btn:focus {
  outline: none;
}
.input,
.select {
  padding: 5px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
}
