<template>
  <div class="row">
    <layout-nav/>

    <div class="col w80 main">
      <layout-header/>
      <layout-main/>
    </div>


  </div>
</template>

<script>
import LayoutHeader from '../components/layout/LayoutHeader'
import LayoutMain from '../components/layout/LayoutMain'
import LayoutNav from '../components/layout/LayoutNav'

export default {
  components: {
  LayoutNav,
  LayoutMain,
  LayoutHeader
  },
}
</script>


<style scoped>
.main {
  padding: 30px 50px;
}
</style>
